/*-------------------------
| Overall css
--------------------------*/




@import url(http://fonts.googleapis.com/css?family=Roboto:400);

body { 
	background-color: #cbd8da; 
	/*font-family: Verdana, Arial, sans-serif;*/
	font-family: 'Roboto', sans-serif;
}
body.subpage { background-color: #fff; }
#container {
	background-color: #d3edf2;
	width: 900px;
	padding: 25px;
	/*border:solid 10px #245a55;*/
	margin:25px auto;
}

/*separates the nav from the hub page*/
nav#mainmenu { text-align: center; margin-bottom: -40px; } 
nav#mainmenu a {
	display: inline-block;
	width: 60px;
	height: 60px;
	line-height: 60px;
	/*text-align: center;*/
	padding: 19px;
	/*unlicked tabs color*/
	background-color: #9fbc7c;
	color: #fff;
	text-decoration: none;
	border-radius: 60px;
	margin-left: 15px;
	margin-top: -50px;

	font-size: 13px;

	position: relative;

	top: -71px;
	right:-100px;

}



/*hover color*/
nav#mainmenu a:hover {
	background-color: #a0d190;}
						  

nav#mainmenu a.selected {
	/*clicked tab color*/
	background-color: #fac3c8;
}








/*pink desc*/
.desc {
	background-color: #fac3c8;
	border-radius: 10px;
	padding: 5px;
	/*min-height: 30px;*/
	width: 300px;
	height: 85px;
	border: solid 4px #f3cfd2;
	/*position: relative;*/
	/*margin-left: -60px;*/
	/*margin-top: -200px;*/
	font-size: 12px;

}





#theTarget {
	background-color: #f9dccc;
	border-radius: 10px;
	padding: 44px;
	/*min-height: 50px;*/

	


}


/*image of me with circle*/
#theTarget img{
	
	/*width: 290px;*/
	/*height: 290px;*/
	/*border-radius: 290px;*/
	


	/*padding: 25px;*/
}


#theTarget #homepage {
	margin-left: -20px;
	margin-right: 100px;
	margin-top: -210px;
	padding: 20px;
	line-height: 13px;
	text-align: left;
	height: 95px;

}

/*positioning image of me*/
#theTarget #me {
	margin-left: 440px;
	border: solid 5px #9fbc7c;
	margin-top: -75px;
	margin-bottom: -11px;
	width: 290px;
	height: 290px;
	border-radius: 290px;

}



/*-------------------------
| Slideshow css (Bridge)
--------------------------*/
#slideshow {
				/*border:solid 7px #f0bc1b;*/
				/*width: 700px;*/
					
				position: relative;
				margin:auto;
				padding: 210px;
				text-align: center;
				margin-bottom: 10px;

				overflow: hidden;
			}

			#slideshow img {
				position: absolute;
				left: 200px; bottom: 0px;
				border: solid 5px #f0bc1b;
				width: 400px;
				height: 400px;
				border-radius: 600px;
			}








/*-------------------------
| Lightbox css
--------------------------*/
#lightbox {
	/*border:solid 7px #181a2d;*/
	/*background-color: #5eccf5;*/
	padding: 5px;
	text-align: center;
	width: 700px;
	margin: auto;

}
#lightbox .images img {
	width: 220px;
	height: 220px;
	/*height: auto;*/
	border:solid 5px #5eccf5;
	border-radius: 220px;


}
/*gray area*/
#lightbox .light, #lightbox .dark {
	display: none;
	position: fixed;
	left:0px; top: 0px; bottom: 0px; right: 0px;

	margin: auto;

}
/*box pop up*/
#lightbox .light {
	background-color: #6c6c6c;
	width: 350px; 
	height: 350px;
	text-align: center;
	/*padding: 10px;*/
	border: solid 5px #181a2d;
	border-radius: 10px;
	
}
#lightbox .dark {
	background-color: #000;
	opacity: .7;
}

/*after click circular box*/
#lightbox .light img {
	display: block;
	margin: 0px;
	padding: 23px;
	width: 300px;
	height: 300px;
	border-radius: 10px;

	


}









/*-------------------------
| Rollovers Illustrator
--------------------------*/
#rollovers {
	/*border:solid 7px #261b12;*/
	/*background-color: #f47a23;*/
	padding: 7px;
	text-align: center;
	/*width: 700px;*/
	
	
	margin: auto;


}
#rollovers img {
	border:solid 5px #f47a23;
	width: auto;
	overflow: hidden;
	width: 250px;
	height: 250px;
	border-radius: 250px;
}












/*-------------------------
| Swap css
--------------------------*/
#swap {
	/*border:solid 10px #ab2e37;*/
	padding: 25px;
	text-align: center;
	width: 700px;
	margin: auto;
}
#swap img.large { margin-bottom: 15px;
				border:solid 7px #ee4592;
				border-radius: 700px;	}

#swap .thumbs img {
	width: 150px;
	height: auto;
	border:solid 5px #ee4592;
	border-radius: 400px;
}





/*-------------------------
| Tabbed css
--------------------------*/






/*orange bg of tabbed*/
#tabbed {
	/*font-family: Helvetica, Arial, sans-serif;*/
	font-family: 'Roboto', sans-serif;

	/*border:solid 10px #ab2e37;*/
	padding: 25px;
	width: 600px;
	margin: auto;

}

/*tabbed section circle buttons*/
#tabbed nav.tab-links a {
	display: inline-block;
	background-color: #f3cfd2;
	color: #fff;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	border-radius: 50px;
	font-size: 10px;}



	
#tabbed nav.tab-links a:hover { background-color: #a0d190; }
#tabbed nav.tab-links a.chosen { background-color: #fac3c8; }

/*where tab content lies*/
#tabbed section.tab {
	background-color: #fac3c8;
	padding: 25px;
	height: 250px;
	width: 600px;
	margin-bottom: 25px;
	border-radius: 10px;
	text-align: left;
	line-height: 19px;

}
#tabbed section.tab img {
	float: left;
	margin: 39px 35px 42px 10px;


}




#tabbed section.tab h1 { margin: 0px; font-size: 50px; color: #ab2e37; }
#tabbed section.tab p { margin: 0px; font-size: 18px; line-height: 24px; }








